* {
    margin: 0;
}
 
body {
    display: flex;
}

img[src="./halie-west-25xggax4bSA-unsplash.jpg"] {
    width: 540px;
    height: max(820px, 100vh);
}

#black-bar {
    position: absolute;
    top: 225px;
    height: 150px;
    width: 540px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#graphic {
    position: relative;
    width: 540px;
    height: max(820px, 100vh);
}

img[src="./odin-logo.png"] {
    height: 90%;
}

#black-bar-text {
    font-size: 100px;
    font-family: 'Norse', sans-serif;
    font-weight: 900;
}

#content {
    height: max(820px, 100vh);
    width: max(900px, calc(100vw - 540px));
    background-color: rgba(249, 250, 251, 255);
}

#caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    padding: 180px 80px 50px 50px;
    box-sizing: border-box;
    height: 370px;
    width: 900px;   
}

#enter-info {
    background-color: white;
    box-sizing: border-box;
    height: 300px;
    width: max(900px, calc(100vw - 540px));
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    padding: 20px 50px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

#row1,
#row2,
#row3 {
    display: flex;
}

#submit-info {
    height: 150px;
}

label,
input {
    display: block;
}

label {
    font-size: 12px;
    margin-bottom: 2.5px;
}

input {
    font-size: 16px;
}

input {
    margin-bottom: 15px;
    width: 270px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px 5px;
}

input:focus {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(6, 6, 12);
    outline-width: 0;
}

#first-name,
#email,
#password-entry {
    margin-right: 50px;
}

#submit {
    background-color: #596D48;
    color: white;
    box-sizing: border-box;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #596D48;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 50px;
}

[type="password"] {
    border-color: red;
}

#submit:hover {
    cursor: pointer;
    background-color: white;
    color: #596D48;
}

#confirm-password {
    margin-bottom: 0px;
}

#match-alert {
    padding: 0px;
    margin-top: 0px;
    color: red;
} 

#row1 {
    margin-top: 30px;
}

#login {
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 0px 50px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #596D48;
}